.unnamed.unnamed {
  left: 163px;
  top: 58px;
  height: 32px;
}
.unnamed2.unnamed2 {
  left: 164px;
  top: 119px;
  height: 32px;
}
.pingButton.pingButton {
  left: 305px;
  top: 119px;
  width: 93px;
}
.ping {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton2.pingButton2 {
  left: 26px;
  top: 290px;
  width: 93px;
}
.ping2 {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton3.pingButton3 {
  left: 26px;
  top: 610px;
  width: 93px;
}
.ping3 {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton4.pingButton4 {
  left: 403px;
  top: 937px;
  width: 93px;
}
.ping4 {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton5.pingButton5 {
  left: 26px;
  top: 1074px;
  width: 93px;
}
.ping5 {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed3.unnamed3 {
  left: 163px;
  top: 245px;
  height: 32px;
}
.unnamed4.unnamed4 {
  left: 255px;
  top: 744px;
  height: 20px;
}
.unnamed5.unnamed5 {
  left: 255px;
  top: 943px;
  height: 20px;
}
.unnamed6.unnamed6 {
  left: 255px;
  top: 778px;
  height: 23px;
}
.unnamed7.unnamed7 {
  left: 255px;
  top: 816px;
  height: 22px;
}
.unnamed8.unnamed8 {
  left: 255px;
  top: 852px;
  height: 20px;
}
.unnamed9.unnamed9 {
  left: 255px;
  top: 1032px;
  height: 20px;
}
.pingButton6.pingButton6 {
  left: 403px;
  top: 844px;
  width: 93px;
}
.ping6 {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1189px;
  height: 1314px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.globalConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 20px;
  width: 131px;
  height: 36px;
  flex-direction: column;
}
.line1 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 53.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line2 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 54.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line5 {
  transform-origin: bottom left;
  position: absolute;
  left: 29px;
  top: 460.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line3 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 293.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.frame16 {
  position: absolute;
  left: 29px;
  top: 73px;
  width: 1145px;
  height: 1205px;
  align-items: flex-start;
  overflow: hidden;
}
.hTTPS {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 16px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rSA_WITH_RC4_128_MD5 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 404px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.protocolVersion {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 65px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 203px;
  top: 16px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sessionConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 186px;
  width: 171px;
  height: 36px;
  flex-direction: column;
}
._165535 {
  position: absolute;
  left: 305px;
  top: 65px;
  width: 66px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.sessionTimeout {
  position: absolute;
  left: 26px;
  top: 252px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock3 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.cipherSuiteConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1px;
  top: 351px;
  width: 224px;
  height: 36px;
  flex-direction: column;
}
.line4 {
  position: absolute;
  left: -0.0046px;
  top: 686.5px;
  width: 1149.0001px;
  height: 1.5px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.enable2 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 294px;
  top: 404px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable3 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 294px;
  top: 710px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rSA_WITH_RC4_128_SHA {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 435px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rSA_WITH_DES_CBC_SHA {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 470px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rSA_WITH_3DES_EDE_CBC_SHA {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 505px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.eCDHE_WITH_AES_128_GCM_SHA256 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 540px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.eCDHE_WITH_AES_256_GCM_SHA384 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 575px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.port {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25px;
  top: 126px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable4 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 294px;
  top: 435px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable5 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 294px;
  top: 470px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable6 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 294px;
  top: 505px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable7 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 294px;
  top: 540px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable8 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 294px;
  top: 575px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.numberOfAccessUsers {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1px;
  top: 657px;
  width: 224px;
  height: 36px;
  flex-direction: column;
}
.rSA_WITH_RC4_128_MD52 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 710px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rSA_WITH_RC4_128_MD53 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25px;
  top: 745px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rSA_WITH_RC4_128_MD54 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 22px;
  top: 780px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rSA_WITH_RC4_128_MD55 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 22px;
  top: 815px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rSA_WITH_RC4_128_MD56 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 22px;
  top: 850px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.loadCertificate {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1px;
  top: 892px;
  width: 224px;
  height: 36px;
  flex-direction: column;
}
.loadKey {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1px;
  top: 981px;
  width: 224px;
  height: 36px;
  flex-direction: column;
}
.line52 {
  position: absolute;
  left: -58px;
  top: 923px;
  width: 1149.0001px;
  height: 1.5px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.certificateFile {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 22px;
  top: 943px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.keyFile {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 1032px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line6 {
  position: absolute;
  left: 25px;
  top: 1089px;
  width: 1149.0001px;
  height: 1.5px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
