.image3.image3 {
  width: 1183px;
}
.sideMenu.sideMenu {
  left: 0;
  top: 77px;
  overflow: hidden;
}
.l2functions.l2functions {
  left: 316px;
  top: 0;
}
.l3functions.l3functions {
  left: 441px;
  top: 0;
}
.qoS.qoS {
  left: 566px;
  top: 0;
}
.security.security {
  left: 691px;
  top: 0;
}
.thenounproject1.thenounproject1 {
  background-image:/* webpackIgnore: true */ url('/assets/thenounproject12.jpg');
}
.system.system {
  left: 816px;
  top: 0;
}
.settings1.settings1 {
  background-image:/* webpackIgnore: true */ url('/assets/settings12.jpg');
}
.diagnose.diagnose {
  left: 941px;
  top: 0;
}
.pngtree_diagnosis_file_icon_pn.pngtree_diagnosis_file_icon_pn {
  background-image:/* webpackIgnore: true */ url('/assets/pngtree_diagnosis_file_icon_pn2.jpg');
}
.monitoring.monitoring {
  left: 196px;
  top: 0;
  outline: initial;
  outline-offset: initial;
}
.root {
  position: relative;
  width: 1920px;
  height: 1024px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.frame14 {
  position: absolute;
  left: 250px;
  top: 68px;
  width: 1650px;
  height: 956px;
  align-items: flex-start;
  overflow-x: auto;
}
._1 {
  position: absolute;
  left: 2px;
  top: 10px;
  width: 1187px;
  height: 946px;
  background-color: #fff;
}
._2 {
  position: absolute;
  left: 1189px;
  top: -3px;
  width: 1187px;
  height: 959px;
  align-items: flex-start;
  background-color: #fff;
}
.port1 {
  position: absolute;
  left: 0;
  top: -103px;
  width: 1187px;
  height: 959px;
  background-image:/* webpackIgnore: true */ url('/assets/port1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
._6 {
  position: absolute;
  left: 5937px;
  top: -3px;
  width: 1187px;
  height: 959px;
  align-items: flex-start;
  background-color: #fff;
}
.port12 {
  position: absolute;
  left: 0;
  top: -109px;
  width: 1187px;
  height: 959px;
  background-image:/* webpackIgnore: true */ url('/assets/port12.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
._3 {
  position: absolute;
  left: 2376px;
  top: -3px;
  width: 1187px;
  height: 959px;
  align-items: flex-start;
  background-color: #fff;
}
.dDM1 {
  position: absolute;
  left: 0;
  top: -106px;
  width: 1187px;
  height: 959px;
  background-image:/* webpackIgnore: true */ url('/assets/dDM1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
._4 {
  position: absolute;
  left: 3563px;
  top: -3px;
  width: 1187px;
  height: 959px;
  align-items: flex-start;
  background-color: #fff;
}
.lAG1 {
  position: absolute;
  left: -4px;
  top: -106px;
  width: 1187px;
  height: 959px;
  background-image:/* webpackIgnore: true */ url('/assets/lAG1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
._5 {
  position: absolute;
  left: 4750px;
  top: -3px;
  width: 1187px;
  height: 959px;
  align-items: flex-start;
  background-color: #fff;
}
.mAC1 {
  position: absolute;
  left: 0;
  top: -109px;
  width: 1187px;
  height: 959px;
  background-image:/* webpackIgnore: true */ url('/assets/mAC1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mainMenu {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 65px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px #00000040;
}
.exterCom_logo11 {
  position: absolute;
  left: 15px;
  top: 18px;
  width: 167px;
  height: 21.3591px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
