.root {
  width: 250px;
  height: min-content;
  padding: 12px 15px;
  background-color: #f1f1f1;
  overflow: hidden;
  box-shadow: inset 0px -4px 10px -2px #0000000d;
}
.eEE {
  color: #000000b2;
  font-size: 12px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.sidebar_button
{
  width: 250px;
  height: min-content;
  padding: 12px 15px;
  background-color: #f1f1f1;
  overflow: hidden;
  box-shadow: inset 0px -4px 10px -2px #0000000d;
  color: #000000b2;
  font-size: 12px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  justify-content: space-between;
  
  
}
.sidebar_button:hover
{
  background-color: #E3E3E3;
  transition: background-color 0.15s ease-in-out;  
}
