.pingButton.pingButton {
  left: calc(50% - -0px);
  top: 242px;
  width: 85px;
  transform: translateX(-50%);
}
.ping {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.message_div {
  position: relative;
  left: calc(50% - -7.5px);
  text-align: center;
  transform: translateX(-50%);
  top: 215px;
  width: min-content;
  color: red;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;

  white-space: nowrap;
  flex-direction: column;
}
.unnamed.unnamed {
  width: 180px;
}
._1921681 {
  outline: 0;
  outline-offset: 0;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  width: 162px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed2.unnamed2 {
  width: 180px;
}
._19216812 {
  outline: 0;
  outline-offset: 0;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 162px;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1920px;
  height: 993px;
  align-items: flex-start;
  background-color: #d9f2ff;
  overflow: hidden;
}
.frame33 {
  position: absolute;
  left: calc(50% - -0.5px);
  top: 167px;
  width: 597px;
  height: 562px;
  align-items: flex-start;
  overflow: hidden;
  transform: translateX(-50%);
}
.frame29 {
  position: absolute;
  left: calc(50% - -7.5px);
  top: calc(50% - -44.5px);
  width: 472px;
  height: 313px;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 20px 3px #3f3f3f40;
  transform: translate(-50%, -50%);
}
.login {
  color: #0d597f;
  font-size: 36px;
  font-weight: 800;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 21px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.frame30 {
  position: absolute;
  left: 50%;
  top: 110px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 37px;
  transform: translateX(-50%);
}
.userName {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame31 {
  position: absolute;
  left: calc(50% - -5px);
  top: 170px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 37px;
  transform: translateX(-50%);
}
.password {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.exterCom_logo11 {
  position: absolute;
  left: 103px;
  top: 68px;
  width: 406px;
  height: 51.927px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
