.root {
  position: relative;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.emulatorTpLinkComByHtmlToDesig {
  position: absolute;
  left: 0;
  top: 0;
  width: 980px;
  height: 625px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.divPanelWrap {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 20px;
  height: 93.4px;
  align-items: flex-start;
}
.divPanelHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 29.8px;
  align-items: flex-start;
  box-shadow: inset 0px -0.8px 0px #a6abac;
}
.heading3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 25px;
  align-items: flex-start;
}
.linkEvent {
  color: #333;
  font-size: 15.25px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3.2px;
  width: 74.91px;
  height: 17.6px;
  justify-content: center;
  flex-direction: column;
}
.divEventCombobox {
  position: absolute;
  left: 0;
  right: 0;
  top: 49.8px;
  height: 25.6px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelCurrentLinkEvent {
  color: #36444b;
  font-size: 12.2891px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3.2px;
  width: 111.49px;
  height: 14.4px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetWrap {
  position: absolute;
  left: 144px;
  top: calc(50% - 0px);
  width: 190px;
  height: 25.6px;
  align-items: flex-start;
  outline: solid 1px #a7a9ac;
  outline-offset: -1px;
  border-radius: 4px;
  transform: translateY(-50%);
}
.input {
  z-index: 0;
  position: absolute;
  left: 9.8px;
  right: 26.8px;
  top: 5.2px;
  height: 15.2px;
  align-items: flex-start;
  overflow: hidden;
}
.errorSymbolPeriod {
  color: #000;
  font-size: 12.3906px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 117.25px;
  height: 14.4px;
  justify-content: center;
  flex-direction: column;
}
.link {
  z-index: 0;
  position: absolute;
  right: 5.8px;
  top: 4.8px;
  width: 19px;
  height: 14px;
  background-image:/* webpackIgnore: true */ url('/assets/link.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divPanelWrap2 {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 113.4px;
  height: 491.6px;
  align-items: flex-start;
}
.divPanelHeader2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 29.8px;
  align-items: flex-start;
  box-shadow: inset 0px -0.8px 0px #a6abac;
}
.heading32 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 25px;
  align-items: flex-start;
}
.linkMonitoringConfig {
  color: #333;
  font-size: 14.875px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3.2px;
  width: 159.4px;
  height: 17.6px;
  justify-content: center;
  flex-direction: column;
}
.divPanelContentContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 39.8px;
  height: 433.8px;
  align-items: flex-start;
}
.divLinkGrid {
  position: absolute;
  left: 0;
  right: 0;
  top: 46.6px;
  height: 387.2px;
  align-items: flex-start;
}
.divLinkGridPanel {
  position: absolute;
  left: 0;
  top: 0;
  width: 900px;
  height: 387.2px;
  align-items: flex-start;
}
.divGridPanelContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 387.2px;
  align-items: flex-start;
}
.divGridPanelContentContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 386.4px;
  align-items: flex-start;
}
.divContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 357.6px;
  align-items: flex-start;
  box-shadow: inset -1px 0px 0px #5ac3f8, inset -1px 0px 0px #5ac3f8;
}
.divScrollXContainer {
  position: absolute;
  left: 0.8px;
  right: 0.8px;
  top: 0;
  height: 357.6px;
  align-items: flex-start;
  background-color: #5ac3f80d;
  overflow: auto;
  outline: solid 1px #5ac3f880;
}
.divContainer2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 37.6px;
  align-items: flex-start;
  background-color: #5ac3f833;
  box-shadow: inset 0px 0.8px 0px #5ac3f8, inset 0px -0.8px 0px #5ac3f8;
}
.table {
  position: absolute;
  left: 10px;
  right: 16px;
  top: 0.8px;
  height: 36px;
  align-items: flex-start;
}
.bodyRow {
  position: absolute;
  left: 0;
  top: 50%;
  width: 872.4px;
  height: 36px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.cell {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 36px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer {
  position: absolute;
  left: 10px;
  top: 9.91px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
}
.divWidgetWrap2 {
  position: absolute;
  left: 0;
  top: calc(50% - -1.29px);
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.label {
  position: absolute;
  left: 0;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
}
.spanIcon {
  position: absolute;
  left: 0;
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translateY(-50%);
}
.cell2 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.85px;
  height: 36px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.port {
  color: #36444b;
  font-size: 12.9063px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 91.08px;
  top: 9.4px;
  width: 25.89px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cell3 {
  position: absolute;
  left: 248.85px;
  top: 50%;
  width: 207.85px;
  height: 36px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.thresholdErrorSymbols {
  color: #36444b;
  font-size: 13.2344px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21.84px;
  top: 9.4px;
  width: 164.36px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cell4 {
  position: absolute;
  left: 456.7px;
  top: 50%;
  width: 207.85px;
  height: 36px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.window100ms {
  color: #36444b;
  font-size: 13.2344px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 51.4px;
  top: 9.4px;
  width: 105.24px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cell5 {
  position: absolute;
  left: 664.55px;
  top: 50%;
  width: 207.85px;
  height: 36px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.eventNotification {
  color: #36444b;
  font-size: 12.9063px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.45px;
  top: 9.4px;
  width: 109.15px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.divGridContentContainer {
  position: absolute;
  left: 10px;
  right: 0;
  top: 37.6px;
  height: 320px;
  align-items: flex-start;
  overflow: hidden;
}
.table2 {
  position: absolute;
  left: 0;
  right: 16.8px;
  top: 0;
  height: 1664.4px;
  align-items: flex-start;
}
.body {
  position: absolute;
  left: 0;
  top: calc(50% - 0.2px);
  width: 871.6px;
  height: 1664px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.row {
  position: absolute;
  left: 0;
  top: calc(50% - 816px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer2 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.3px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label2 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon2 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data2 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.3px;
  height: 15px;
  align-items: flex-start;
}
._11 {
  color: #36444b;
  font-size: 11.8125px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data3 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent2 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.3px;
  height: 15px;
  align-items: flex-start;
}
._1 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data4 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent3 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.3px;
  height: 15px;
  align-items: flex-start;
}
._10 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data5 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent4 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.3px;
  height: 15px;
  align-items: flex-start;
}
.enabled {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row2 {
  position: absolute;
  left: 0;
  top: calc(50% - 784px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data6 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer3 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap4 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label3 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon3 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data7 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent5 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._12 {
  color: #36444b;
  font-size: 11.0625px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data8 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent6 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._13 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data9 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent7 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._102 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data10 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent8 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled2 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row3 {
  position: absolute;
  left: 0;
  top: calc(50% - 752px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data11 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer4 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap5 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label4 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon4 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data12 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent9 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._132 {
  color: #36444b;
  font-size: 10.875px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data13 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent10 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._14 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data14 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent11 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._103 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data15 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent12 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled3 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row4 {
  position: absolute;
  left: 0;
  top: calc(50% - 720px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data16 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer5 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap6 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label5 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon5 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data17 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent13 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._142 {
  color: #36444b;
  font-size: 10.875px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data18 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent14 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._15 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data19 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent15 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._104 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data20 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent16 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled4 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row5 {
  position: absolute;
  left: 0;
  top: calc(50% - 688px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data21 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer6 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap7 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label6 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon6 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data22 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent17 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._152 {
  color: #36444b;
  font-size: 11.0625px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data23 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent18 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._16 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data24 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent19 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._105 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data25 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent20 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled5 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row6 {
  position: absolute;
  left: 0;
  top: calc(50% - 656px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data26 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer7 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap8 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label7 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon7 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data27 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent21 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._162 {
  color: #36444b;
  font-size: 11.0625px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data28 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent22 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._17 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data29 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent23 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._106 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data30 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent24 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled6 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row7 {
  position: absolute;
  left: 0;
  top: calc(50% - 624px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data31 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer8 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap9 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label8 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon8 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data32 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent25 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._172 {
  color: #36444b;
  font-size: 11.25px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data33 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent26 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._18 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data34 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent27 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._107 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data35 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent28 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled7 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row8 {
  position: absolute;
  left: 0;
  top: calc(50% - 592px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data36 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer9 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap10 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label9 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon9 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data37 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent29 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._182 {
  color: #36444b;
  font-size: 11.0625px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data38 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent30 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._19 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data39 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent31 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._108 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data40 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent32 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled8 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row9 {
  position: absolute;
  left: 0;
  top: calc(50% - 560px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data41 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer10 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap11 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label10 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon10 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon10.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data42 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent33 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._192 {
  color: #36444b;
  font-size: 11.0625px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 30px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data43 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent34 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._110 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data44 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent35 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._109 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data45 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent36 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled9 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row10 {
  position: absolute;
  left: 0;
  top: calc(50% - 528px);
  width: 871.6px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data46 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 41px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divCheckboxGroupContainer11 {
  position: absolute;
  left: 10px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrap12 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.label11 {
  position: absolute;
  left: 50%;
  top: -0.59px;
  width: 25px;
  height: 13.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.spanIcon11 {
  position: absolute;
  left: calc(50% - 4.5px);
  top: calc(50% - -0.79px);
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.data47 {
  position: absolute;
  left: 41px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent37 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._1102 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0;
  width: 33.58px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data48 {
  position: absolute;
  left: 248.65px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent38 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._111 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 6.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data49 {
  position: absolute;
  left: 456.3px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent39 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
._1010 {
  color: #36444b;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 13.55px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data50 {
  position: absolute;
  left: 663.95px;
  top: 50%;
  width: 207.65px;
  height: 32px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent40 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 8.5px;
  height: 15px;
  align-items: flex-start;
}
.enabled10 {
  color: #36444b;
  font-size: 11.4375px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 44.25px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.divLinkGrid_statusBar {
  position: absolute;
  left: 0;
  right: 0;
  top: 357.6px;
  height: 28.8px;
  align-items: flex-start;
  background-color: #5ac3f833;
  box-shadow: inset 0px 0.8px 0px #5ac3f880, inset -0.8px 0px 0px #5ac3f880, inset -0.8px 0px 0px #5ac3f880;
}
.table3 {
  position: absolute;
  left: 0.8px;
  right: 0.8px;
  top: 0.8px;
  height: 28px;
  align-items: flex-start;
}
.bodyRowData {
  position: absolute;
  left: 0;
  top: 50%;
  width: 898.4px;
  height: 28px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.spanStatusTotal {
  position: absolute;
  left: 10px;
  right: 843.02px;
  top: 7px;
  height: 15px;
  align-items: flex-start;
}
.total52 {
  color: #36444b;
  font-size: 11.0625px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1px);
  top: 0;
  width: 45.58px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.divGridPanelFbarContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 386.4px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-bottom: solid NaNpx #5ac3f8;
  margin-bottom: NaNpx;
  background-color: #e6e6e6;
}
.divTab {
  position: absolute;
  left: 0;
  top: 11px;
  width: 115.6px;
  height: 36.6px;
  align-items: flex-start;
}
.divWidgetWrapOuter {
  position: absolute;
  left: calc(50% - 0px);
  top: 0;
  width: 115.6px;
  height: 36.6px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.divWidgetWrap13 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 115.6px;
  height: 36.6px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36.6px;
  align-items: flex-start;
}
.itemLink {
  position: absolute;
  left: 0;
  top: 0;
  width: 116.6px;
  height: 36.6px;
  align-items: flex-start;
}
.After {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 36px;
  height: 2px;
  background-color: #5ac3f833;
}
.spanSubNavigatorText {
  position: absolute;
  left: 0;
  top: 0;
  width: 116.6px;
  height: 36.6px;
  align-items: flex-start;
  outline: solid 1px #5ac3f880;
  outline-offset: -1px;
  border-radius: 8px 8px 0 0;
  background-color: #5ac3f833;
}
.uNIT1 {
  color: #005564;
  font-size: 14px;
  line-height: 21px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 38.08px;
  top: 10.2px;
  width: 40.65px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input2
{
  font-size: 14px;
  position: absolute;
  left: -23px;
  top: 0px;
  flex-direction: column;
}
.input3
{
  font-size: 14px;
  position: absolute;
  left: -17px;
  top: 13px;
  flex-direction: column;
}
