.root {
  position: relative;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.frame16 {
  position: absolute;
  left: 26px;
  top: 0;
  width: 1145px;
  height: 956px;
  align-items: flex-start;
  overflow: hidden;
}
.frame22 {
  position: absolute;
  left: 0;
  top: 117px;
  width: 1145px;
  height: 120px;
  align-items: flex-start;
  outline: solid 1px #5ac3f880;
  outline-offset: -1px;
  overflow: hidden;
}
.noEntriesInThisTable {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 497px;
  top: 49px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1145px;
  height: 40px;
  background-color: #5ac3f833;
}
.rectangle5 {
  position: absolute;
  left: 0;
  top: 80px;
  width: 1145px;
  height: 40px;
  background-color: #5ac3f833;
}
.frame17 {
  position: absolute;
  left: 0;
  top: 40px;
  width: 1145px;
  height: 40px;
  background-color: #5ac3f80d;
  overflow: hidden;
}
.frame21 {
  position: absolute;
  left: 90px;
  top: 126px;
  width: 1017px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.index {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.serverGroup {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 142px;
  height: min-content;
  flex-direction: column;
}
.serverType {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.serverIP {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.operation {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.total {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 13px;
  top: 208px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line3 {
  transform-origin: bottom left;
  position: absolute;
  left: -1px;
  top: 53px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 1px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.serverGroupConfig {
  position: absolute;
  left: 0;
  top: 20px;
  width: 222px;
  height: 36px;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.link {
  position: absolute;
  right: 82.09px;
  top: calc(50% - 392px);
  width: 52.91px;
  height: 20px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.spanIcon {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.add {
  color: #000;
  font-size: 13px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  right: -0.2px;
  top: calc(50% - 0.4px);
  width: 25.11px;
  height: 16px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.link2 {
  position: absolute;
  left: 1076.9199px;
  top: 76px;
  width: 68.47px;
  height: 20px;
  align-items: flex-start;
}
.spanIcon2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.delete {
  opacity: 0.3;
  color: #36444b;
  font-size: 13px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  right: -0.2px;
  top: calc(50% - 0.4px);
  width: 40.67px;
  height: 16px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.serverGroup2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.frame162 {
  position: absolute;
  left: 13px;
  top: 0;
  width: 1158px;
  height: 956px;
  align-items: flex-start;
  overflow: hidden;
}
.frame222 {
  position: absolute;
  left: 0;
  top: 117px;
  width: 1145px;
  height: 120px;
  align-items: flex-start;
  outline: solid 1px #5ac3f880;
  outline-offset: -1px;
  overflow: hidden;
}
.noEntriesInThisTable2 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 497px;
  top: 49px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle42 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1145px;
  height: 40px;
  background-color: #5ac3f833;
}
.rectangle52 {
  position: absolute;
  left: 0;
  top: 80px;
  width: 1145px;
  height: 40px;
  background-color: #5ac3f833;
}
.frame172 {
  position: absolute;
  left: 0;
  top: 40px;
  width: 1145px;
  height: 40px;
  background-color: #5ac3f80d;
  overflow: hidden;
}
.frame212 {
  position: absolute;
  left: 0;
  top: 126px;
  width: 1107px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.index2 {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.serverIP2 {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 84px;
  height: min-content;
  flex-direction: column;
}
.sharedKey {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.authenticationPort {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.accountingPort {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 131px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.retransmit {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.timeout {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.nASIdentifier {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 110px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.operation2 {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.total2 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 13px;
  top: 208px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line32 {
  transform-origin: bottom left;
  position: absolute;
  left: -1px;
  top: 53px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 1px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.serverConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 20px;
  width: 222px;
  height: 36px;
  flex-direction: column;
}
.link3 {
  position: absolute;
  right: 104.09px;
  top: calc(50% - 392px);
  width: 52.91px;
  height: 20px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.spanIcon3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.add2 {
  color: #000;
  font-size: 13px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  right: -0.2px;
  top: calc(50% - 0.4px);
  width: 25.11px;
  height: 16px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.link4 {
  position: absolute;
  left: 1076.9199px;
  top: 76px;
  width: 68.47px;
  height: 20px;
  align-items: flex-start;
}
.spanIcon4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/spanIcon4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.delete2 {
  opacity: 0.3;
  color: #36444b;
  font-size: 13px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  right: -0.2px;
  top: calc(50% - 0.4px);
  width: 40.67px;
  height: 16px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50%);
}
