.unnamed.unnamed {
  left: 163px;
  top: 9px;
}
.unnamed2.unnamed2 {
  left: 163px;
  top: 58px;
}
._1921681 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton.pingButton {
  left: 310px;
  top: 114px;
  width: 91px;
}
.ping {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;  
  animation: fadeIn 0.15s ease-in-out;  
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.tracert {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 20px;
  width: 78px;
  height: 36px;
  flex-direction: column;
}
.line1 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 53.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.frame16 {
  position: absolute;
  left: 26px;
  top: 73px;
  width: 1145px;
  height: 871px;
  align-items: flex-start;
  overflow: hidden;
}
.destinationIP {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 16px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.maximumHops {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 65px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame17 {
  position: absolute;
  left: 0;
  top: 286px;
  width: 625px;
  height: 566px;
  align-items: flex-start;
  outline: solid 1px #5ac3f880;
  outline-offset: -1px;
  border-radius: 6px;
  background-color: #5ac3f80d;
  overflow: hidden;
}
.frame35 {
  position: absolute;
  left: 16px;
  top: 72px;
  width: 591px;
  height: 320px;
  align-items: flex-start;
  overflow: hidden;
}
.frame36 {
  position: absolute;
  left: 14px;
  top: 10px;
  width: 562px;
  height: 28px;
  align-items: flex-start;
  overflow: hidden;
}
.frame37 {
  position: absolute;
  left: 18px;
  top: 4px;
  width: 544px;
  height: min-content;
  place-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}
._1 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed3 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed4 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed5 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.requestTimedOut {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame372 {
  position: absolute;
  left: 14px;
  top: 38px;
  width: 562px;
  height: 28px;
  align-items: flex-start;
  overflow: hidden;
}
.frame373 {
  position: absolute;
  left: 18px;
  top: 4px;
  width: 544px;
  height: min-content;
  place-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}
._2 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed6 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed7 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed8 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.requestTimedOut2 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame362 {
  position: absolute;
  left: 15px;
  top: 66px;
  width: 562px;
  height: 28px;
  align-items: flex-start;
  overflow: hidden;
}
.frame374 {
  position: absolute;
  left: 18px;
  top: 4px;
  width: 552px;
  height: min-content;
  place-content: space-between;
  align-items: flex-start;
  padding: 0 18px;
}
._3 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1ms {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2ms {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._3ms {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._19216812 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 128px;
  height: min-content;
  flex-direction: column;
}
.frame363 {
  position: absolute;
  left: 15px;
  top: 94px;
  width: 562px;
  height: 28px;
  align-items: flex-start;
  overflow: hidden;
}
.frame375 {
  position: absolute;
  left: 18px;
  top: 4px;
  width: 544px;
  height: min-content;
  place-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}
._4 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed9 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed10 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed11 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.requestTimedOut3 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 286px;
  width: 625px;
  height: 38px;
  border-radius: 6px;
  background-color: #5ac3f833;
}
.tracertResult {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 12px;
  top: 294px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.oK {
  color: #32de4e;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 132px;
  top: 294px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tracingRouteTo192168100OverAMa {
  position: absolute;
  left: 43px;
  top: 403px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
