.pingButton.pingButton {
  left: 22px;
  top: 18px;
  width: 114px;
  outline: solid 1px #0d597f;
  outline-offset: -1px;
  background-color: #fff;
}
.ping {
  color: #0d597f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton2.pingButton2 {
  left: 156px;
  top: 18px;
  width: 142px;
  outline: solid 1px #a7aaaa;
  outline-offset: -1px;
  background-color: initial;
}
.ping2 {
  color: #a7aaaa;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton3.pingButton3 {
  left: 807px;
  top: 104px;
  width: 93px;
}
.ping3 {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton4.pingButton4 {
  left: 807px;
  top: 394px;
  width: 93px;
}
.ping4 {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;  
  animation: fadeIn 0.15s ease-in-out;  
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.emulatorTpLinkComByHtmlToDesig {
  position: absolute;
  left: 0;
  right: 253px;
  top: 0;
  height: 50px;
  align-items: flex-start;
}
.emulatorTpLinkComByHtmlToDesig2 {
  position: absolute;
  left: 0;
  top: 50px;
  width: 980px;
  height: 595.6px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.divPanelWrap {
  position: absolute;
  left: 22px;
  right: 58px;
  top: 20px;
  height: 555.6px;
  align-items: flex-start;
}
.divPanelHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 29.8px;
  align-items: flex-start;
  box-shadow: inset 0px -2px 0px #0d597f;
}
.heading3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 25px;
  align-items: flex-start;
}
.globalConfig {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 125px;
  height: 18px;
  justify-content: center;
  flex-direction: column;
}
.divPanelHeader2 {
  position: absolute;
  left: 22px;
  right: 58px;
  top: 169px;
  height: 29.8px;
  align-items: flex-start;
  box-shadow: inset 0px -2px 0px #0d597f;
}
.heading32 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 25px;
  align-items: flex-start;
}
.parametersConfig {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 176px;
  height: 18px;
  justify-content: center;
  flex-direction: column;
}
.divJumbo {
  position: absolute;
  left: 22px;
  top: 282.6001px;
  width: 900px;
  height: 27.2px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelJumbo {
  color: #36444b;
  font-size: 12.1875px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetTips {
  position: absolute;
  left: 506px;
  top: calc(50% - -0.0001px);
  width: 109.4px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent {
  position: absolute;
  left: 12px;
  right: 0;
  top: 0;
  height: 22px;
  align-items: flex-start;
}
.seconds640 {
  color: #a7a9ac;
  font-size: 11.25px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetWrap {
  position: absolute;
  left: 316px;
  top: calc(50% - 0px);
  width: 190px;
  height: 27.2px;
  align-items: flex-start;
  outline: solid 1px #a7a9ac;
  outline-offset: -1px;
  border-radius: 4px;
  transform: translateY(-50%);
}
.input {
  z-index: 0;
  position: absolute;
  left: 10.6px;
  right: 12.6px;
  top: 6.4px;
  height: 14.4px;
  overflow: hidden;
}
.divJumbo2 {
  position: absolute;
  left: 22px;
  top: 314.8px;
  width: 900px;
  height: 27.2px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap2 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelJumbo2 {
  color: #36444b;
  font-size: 12.1875px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetTips2 {
  position: absolute;
  left: 506px;
  top: calc(50% - -0.0001px);
  width: 109.4px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent2 {
  position: absolute;
  left: 12px;
  right: 0;
  top: 0;
  height: 22px;
  align-items: flex-start;
}
.seconds430 {
  color: #a7a9ac;
  font-size: 11.25px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetWrap2 {
  position: absolute;
  left: 316px;
  top: calc(50% - 0px);
  width: 190px;
  height: 27.2px;
  align-items: flex-start;
  outline: solid 1px #a7a9ac;
  outline-offset: -1px;
  border-radius: 4px;
  transform: translateY(-50%);
}
.input2 {
  z-index: 0;
  position: absolute;
  left: 10.6px;
  right: 12.6px;
  top: 6.4px;
  height: 14.4px;
  overflow: hidden;
}
.divJumbo3 {
  position: absolute;
  left: 22px;
  top: 347px;
  width: 900px;
  height: 27.2px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap3 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelJumbo3 {
  color: #36444b;
  font-size: 12.1875px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetTips3 {
  position: absolute;
  left: 506px;
  top: calc(50% - -0.0001px);
  width: 109.4px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent3 {
  position: absolute;
  left: 12px;
  right: 0;
  top: 0;
  height: 22px;
  align-items: flex-start;
}
.pps120 {
  color: #a7a9ac;
  font-size: 11.25px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetWrap3 {
  position: absolute;
  left: 316px;
  top: calc(50% - 0px);
  width: 190px;
  height: 27.2px;
  align-items: flex-start;
  outline: solid 1px #a7a9ac;
  outline-offset: -1px;
  border-radius: 4px;
  transform: translateY(-50%);
}
.input3 {
  z-index: 0;
  position: absolute;
  left: 10.6px;
  right: 12.6px;
  top: 6.4px;
  height: 14.4px;
  overflow: hidden;
}
.divJumbo4 {
  position: absolute;
  left: 22px;
  top: 379.2px;
  width: 900px;
  height: 27.2px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap4 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelJumbo4 {
  color: #36444b;
  font-size: 12.1875px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetTips4 {
  position: absolute;
  left: 506px;
  top: calc(50% - -0.0001px);
  width: 109.4px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent4 {
  position: absolute;
  left: 12px;
  right: 0;
  top: 0;
  height: 22px;
  align-items: flex-start;
}
._140 {
  color: #a7a9ac;
  font-size: 11.25px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetWrap4 {
  position: absolute;
  left: 316px;
  top: calc(50% - 0px);
  width: 190px;
  height: 27.2px;
  align-items: flex-start;
  outline: solid 1px #a7a9ac;
  outline-offset: -1px;
  border-radius: 4px;
  transform: translateY(-50%);
}
.input4 {
  z-index: 0;
  position: absolute;
  left: 10.6px;
  right: 12.6px;
  top: 6.4px;
  height: 14.4px;
  overflow: hidden;
}
.divJumbo5 {
  position: absolute;
  left: 22px;
  top: 67px;
  width: 900px;
  height: 27.2px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap5 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelJumbo5 {
  color: #36444b;
  font-size: 12.1875px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 2.7998px;
  width: 95px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetTips5 {
  position: absolute;
  left: 334px;
  top: calc(50% - 0px);
  width: 109.4px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent5 {
  position: absolute;
  left: 12px;
  right: 0;
  top: 0;
  height: 22px;
  align-items: flex-start;
}
.enable {
  color: #36444b;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3.2px;
  width: 97.6px;
  height: 14.4px;
  justify-content: center;
  flex-direction: column;
}
.divJumbo6 {
  position: absolute;
  left: 22px;
  top: 94.3999px;
  width: 900px;
  height: 27.2px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap6 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelJumbo6 {
  color: #36444b;
  font-size: 12.1875px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 2.3999px;
  width: 165px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetTips6 {
  position: absolute;
  left: 334px;
  top: calc(50% - -0.4px);
  width: 77px;
  height: 22px;
  transform: translateY(-50%);
}
.divJumbo7 {
  position: absolute;
  left: 22px;
  top: 218px;
  width: 900px;
  height: 27.2px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap7 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelJumbo7 {
  color: #36444b;
  font-size: 12.1875px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3.2px;
  width: 153px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetTips7 {
  position: absolute;
  left: 506px;
  top: calc(50% - -0.0001px);
  width: 109.4px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent6 {
  position: absolute;
  left: 12px;
  right: 0;
  top: 0;
  height: 22px;
  align-items: flex-start;
}
._61440InIncrementsOf4096 {
  color: #a7a9ac;
  font-size: 11.25px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3.3999px;
  width: 187px;
  height: 14px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetWrap5 {
  position: absolute;
  left: 316px;
  top: calc(50% - 0px);
  width: 190px;
  height: 27.2px;
  align-items: flex-start;
  outline: solid 1px #a7a9ac;
  outline-offset: -1px;
  border-radius: 4px;
  transform: translateY(-50%);
}
.input5 {
  z-index: 0;
  position: absolute;
  left: 10px;
  right: 8px;
  top: 6px;
  height: 15px;
  overflow: hidden;
}
.divJumbo8 {
  position: absolute;
  left: 22px;
  top: 250.4001px;
  width: 900px;
  height: 27.2px;
  align-items: flex-start;
}
.divWidgetFieldlabelWrap8 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 144px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.labelJumbo8 {
  color: #36444b;
  font-size: 12.1875px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetTips8 {
  position: absolute;
  left: 506px;
  top: calc(50% - -0.0001px);
  width: 109.4px;
  height: 22px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent7 {
  position: absolute;
  left: 12px;
  right: 0;
  top: 0;
  height: 22px;
  align-items: flex-start;
}
.seconds110 {
  color: #a7a9ac;
  font-size: 11.25px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 144px;
  height: 15px;
  justify-content: center;
  flex-direction: column;
}
.divWidgetWrap6 {
  position: absolute;
  left: 316px;
  top: calc(50% - 0px);
  width: 190px;
  height: 27.2px;
  align-items: flex-start;
  outline: solid 1px #a7a9ac;
  outline-offset: -1px;
  border-radius: 4px;
  transform: translateY(-50%);
}
.input6 {
  z-index: 0;
  position: absolute;
  left: 10px;
  right: 8px;
  top: 6.5999px;
  height: 14px;
  overflow: hidden;
}
