.pingButton.pingButton {
  left: 17px;
  top: 34px;
  width: 93px;
}
.ping {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton2.pingButton2 {
  left: 17px;
  top: 563px;
  width: 93px;
}
.ping2 {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.doSDefend {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 20px;
  width: 131px;
  height: 36px;
  flex-direction: column;
}
.line1 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 53.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line2 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 54.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line3 {
  transform-origin: bottom left;
  position: absolute;
  left: 26px;
  top: 191.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.frame16 {
  position: absolute;
  left: 25px;
  top: 80px;
  width: 1149px;
  height: 754px;
  align-items: flex-start;
  overflow: hidden;
}
.doSProtection {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25px;
  top: -3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.landAttack {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 138px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingFlooding {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 360px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sYNSYNACKFlooding {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 397px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 202px;
  top: -3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.doSDefendConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2px;
  top: 84px;
  width: 171px;
  height: 36px;
  flex-direction: column;
}
.enable2 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 138px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable3 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 434px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable4 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 471px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable5 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 508px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.scanSYNFIN {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 175px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.xmascan {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 212px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.nULLScan {
  position: absolute;
  left: 17px;
  top: 249px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.sYNSPortLess1024 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 286px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.blatAttack {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 323px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable6 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 175px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable7 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 212px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable8 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 249px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable9 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 286px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable10 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 323px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable11 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 360px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enable12 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 195px;
  top: 397px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.winNukeAttack {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 434px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingOfDeath {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 471px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.smurfAttack {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17px;
  top: 508px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
