:where(.storybrainResets),
:where(.storybrainResets) * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:where(.storybrainResets),
:where(.storybrainResets) :not(span, a, ul, ol, li, p, 
table, tbody, thead, tr, th, td, .tableFrame) {
  display: flex;
}

:where(.storybrainResets) table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #5ac3f880;
  border-collapse: collapse;
}

:where(.storybrainResets) tr {
  border: 1px solid #5ac3f880;
}

:where(.storybrainResets) th {
  background-color: #5ac3f833;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  font-family:Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  font-weight: 700;
}


:where(.storybrainResets) td {
  background-color: #5ac3f80d;
  text-align: center;
  padding: 8px;
  font-family:Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  font-size: 14px;
}


:where(.storybrainResets) ul,
:where(.storybrainResets) ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

:where(.storybrainResets) p:empty::before {
  content: '';
  display: inline-block;
}

:where(.storybrainResets) img {
  object-fit: contain;
}

:where(.storybrainResets) svg {
  overflow: visible;
}

