.unnamed.unnamed {
  left: 164px;
  top: 107px;
  width: 108px;
}
._1921681 {
  width: 92px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
 
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed2.unnamed2 {
  left: 163px;
  top: 58px;
  width: 108px;
}
._19216812 {
  width: 92px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton.pingButton {
  left: 530px;
  top: 151px;
  width: 93px;
  border-radius: 15px;
}
.ping {
  color: #fafafa;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton2.pingButton2 {
  left: 310px;
  top: 58px;
  width: 112px;
  border-radius: 15px;
}
.ping2 {
  color: #fafafa;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
  animation: fadeIn 0.15s ease-in-out;  
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.globalConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 20px;
  width: 131px;
  height: 36px;
  flex-direction: column;
}
.line1 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 53.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line2 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 54.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line3 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 293.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.frame16 {
  position: absolute;
  left: 26px;
  top: 73px;
  width: 1145px;
  height: 871px;
  align-items: flex-start;
  overflow: hidden;
}
.sNMP {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 16px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.remoteEngineID {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 114px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.localEngineID {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 65px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame17 {
  position: absolute;
  left: 0;
  top: 286px;
  width: 1145px;
  height: 317px;
  background-color: rgba(90,195,248,0.05);;
  overflow: hidden;
  border: 1px solid rgba(90,195,248,0.5);
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 286px;
  width: 1145px;
  height: 40px;
 
  background-color: rgba(90,195,248,0.2);
}
.rectangle5 {
  position: absolute;
  left: 0;
  top: 563px;
  width: 1145px;
  height: 40px;
  
  background-color: rgba(90,195,248,0.2);
}
.total4 {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 13px;
  top: 574px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.delete {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1089px;
  top: 240px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame21 {
  position: absolute;
  left: 90px;
  top: 413px;
  width: 794px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 0 20px;
}
._2 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.viewDefault {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 55px;
  position: relative;
}
.exclude {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 125px;
  position: relative;
}
._13616315 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 200px;
  position: relative;
}
.frame212 {
  position: absolute;
  left: 90px;
  top: 353px;
  width: 794px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 0 20px;
}
._1 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.viewDefault2 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 55px;
  position: relative;
}
.include {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 125px;
  position: relative;
}
._12 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 100px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  left: 200px;
  position: relative;
}
.frame22 {
  position: absolute;
  left: 90px;
  top: 473px;
  width: 794px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 0 20px;
}
._3 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.viewDefault3 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 55px;
  position: relative;
}
.exclude2 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 125px;
  position: relative;
}
._13616316 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 200px;
  position: relative;
}
.frame213 {
  position: absolute;
  left: 90px;
  top: 293px;
  width: 1017px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.index {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.viewName {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 88px;
  height: min-content;
  flex-direction: column;
}
.viewType {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.mIBObjectID {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingResult {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.frame23 {
  position: absolute;
  left: 90px;
  top: 533px;
  width: 794px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 0 20px;
}
._4 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.viewDefault4 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 55px;
  position: relative;
}
.exclude3 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 125px;
  position: relative;
}
._13616218 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  left: 200px;
  position: relative;
}
.enable {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 203px;
  top: 16px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sNMPViewConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 186px;
  width: 171px;
  height: 36px;
  flex-direction: column;
}
._1064Hex {
  color: #919191;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 441px;
  top: 64px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.NullOr1064Hex {
  color: #919191;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 310px;
  top: 113px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.add {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 988px;
  top: 240px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.input1
{
  
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 170px;
  top: 18px;
  flex-direction: column;

}
.input2
{
  font-size: 14px;
  position: absolute;
  left: -40px;
  top: 6px;
  flex-direction: column;
}
.input3
{
  font-size: 14px;
  position: absolute;
  left: -40px;
  top: 6px;
  flex-direction: column;
}
.input4
{
  font-size: 14px;
  position: absolute;
  left: -40px;
  top: 6px;
  flex-direction: column;
}
.input5
{
  font-size: 14px;
  position: absolute;
  left: -40px;
  top: 6px;
  flex-direction: column;
}
.input6
{
  font-size: 14px;
  position: absolute;
  left: -40px;
  top: 6px;
  flex-direction: column;
}
.add1 {
  color: green;
 
  position: absolute;
  left: 969px;
  top: 242px;
 
  white-space: nowrap;
  flex-direction: column;
}
.delete1 {
  
  
  width: 20px;
  height: 20px;
  color: red;
  position: absolute;
  left: 1068px;
  top: 240px;
  
  white-space: nowrap;
  flex-direction: column;
}