.pingButton.pingButton {
  left: 40px;
  top: 18px;
  width: 165px;
  height: 30px;
  align-items: center;
  outline: solid 1px #0d597f;
  outline-offset: -1px;
  background-color: #fff;
}
.ping {
  color: #0d597f;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pingButton2.pingButton2 {
  left: 225px;
  top: 18px;
  width: 170px;
  height: 30px;
  align-items: center;
  outline: solid 1px #a7aaaa;
  outline-offset: -1px;
  background-color: initial;
}
.ping2 {
  color: #a7aaaa;
  font-size: 14px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.emulatorTpLinkComByHtmlToDesig {
  position: absolute;
  left: 0;
  right: 253px;
  top: 0;
  height: 50px;
  align-items: flex-start;
}
.emulatorTpLinkComByHtmlToDesig2 {
  position: absolute;
  left: 0;
  top: 50px;
  width: 980px;
  height: 787px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.divPanelWrap {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 20px;
  height: 747px;
  align-items: flex-start;
}
.divPanelHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 29.8px;
  align-items: flex-start;
  border-bottom-color: #0d597f;
  border-bottom-style: inset;
}
.heading3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 25px;
  align-items: flex-start;
}
.oAMPDUsStatistics {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 3px;
  width: 191px;
  height: 18px;
  justify-content: center;
  flex-direction: column;
}
.divPanelContentContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 39.8px;
  height: 689.2px;
  align-items: flex-start;
}
.divTab {
  position: absolute;
  left: 0;
  top: 10px;
  width: 900px;
  height: 15px;
  align-items: flex-start;
}
.divWidgetWrapOuter {
  position: absolute;
  left: 50%;
  top: 0;
  width: 900px;
  height: 15px;
  align-items: flex-start;
  transform: translateX(-50%);
}
.divWidgetWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 125px;
  height: 15px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 15px;
  align-items: flex-start;
}
.itemLink {
  position: absolute;
  left: 50%;
  top: 0;
  width: 125px;
  height: 15px;
  align-items: flex-start;
  background-color: #fff;
  transform: translateX(-50%);
}
.uNIT1 {
  color: #4acbd6;
  font-size: 12px;
  line-height: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.095px);
  top: 0;
  width: 34.87px;
  height: 13.6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.divPorts {
  position: absolute;
  left: 0;
  right: 0;
  top: 31px;
  height: 258px;
}
.divDisplayTableCtn {
  position: absolute;
  left: 0;
  top: 319px;
  width: 900px;
  height: 370.2px;
  align-items: flex-start;
}
.divInfoTitle {
  position: absolute;
  left: 0;
  top: 0;
  width: 139.99px;
  height: 36px;
  align-items: flex-start;
  outline: solid 1px #5ac3f880;
  outline-offset: -1px;
  background-color: #5ac3f833;
}
.divWidgetWrapOuter2 {
  z-index: 0;
  position: absolute;
  left: 40px;
  top: 50%;
  width: 59.99px;
  height: 36px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divWidgetWrap2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36px;
  align-items: flex-start;
}
.port11 {
  color: #000;
  font-size: 12.3906px;
  line-height: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 10.4px;
  width: 60.19px;
  height: 14.4px;
  justify-content: center;
  flex-direction: column;
}
.divInfoGrid {
  position: absolute;
  left: 0;
  top: 7px;
  width: 900px;
  height: 363.2px;
  align-items: flex-start;
}
.divGridPanelContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 363.2px;
  align-items: flex-start;
}
.divGridPanelTbarContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 900px;
  height: 29px;
  align-items: flex-start;
}
.divInfoGrid_bar {
  position: absolute;
  right: 0px;
  top: 0;
  width: 152.49px;
  height: 29px;
  align-items: flex-start;
}
.link {
  position: absolute;
  right: 75.47px;
  top: calc(50% - 4.5px);
  width: 77.02px;
  height: 20px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.refresh {
  color: #000;
  font-size: 13.5625px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  right: -0.2px;
  top: calc(50% - 0.4px);
  width: 49.22px;
  height: 16px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.link2 {
  position: absolute;
  left: 91.03px;
  top: 0;
  width: 61.46px;
  height: 20px;
  align-items: flex-start;
}
.clear {
  color: #000;
  font-size: 13.4531px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  right: -0.2px;
  top: calc(50% - 0.4px);
  width: 33.66px;
  height: 16px;
  text-align: end;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.divScrollXContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 29px;
  height: 334.2px;
  align-items: flex-start;
  overflow: auto;
}
.divContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  align-items: flex-start;
  outline: solid 1px #5ac3f880;
  outline-offset: -1px;
  background-color: #5ac3f833;
}
.table {
  z-index: 0;
  position: absolute;
  left: 10px;
  right: 0;
  top: 0;
  height: 30px;
  align-items: flex-start;
}
.bodyRow {
  position: absolute;
  left: 0;
  top: 50%;
  width: 890px;
  height: 30px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.cell {
  position: absolute;
  left: 296.66px;
  top: 50%;
  width: 296.66px;
  height: 30px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.tx {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 140.55px;
  top: 6.4px;
  width: 15.76px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cell2 {
  position: absolute;
  left: 593.33px;
  top: 50%;
  width: 296.67px;
  height: 30px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.rx {
  color: #000;
  font-size: 14px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 139.77px;
  top: 6.4px;
  width: 17.31px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.divGridContentContainerOuter {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 304.2px;
  align-items: flex-start;
  outline: solid 1px #5ac3f880;
  outline-offset: -1px;
  background-color: #5ac3f80d;
}
.table2 {
  z-index: 0;
  position: absolute;
  left: 10px;
  right: 0;
  top: 0;
  height: 304.2px;
  align-items: flex-start;
  overflow: hidden;
}
.body {
  position: absolute;
  left: 0;
  top: calc(50% - 0.2px);
  width: 890px;
  height: 303.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.row {
  position: absolute;
  left: 0;
  top: calc(50% - 135.2px);
  width: 890px;
  height: 33.4px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.4px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7px;
  height: 19px;
  align-items: flex-start;
}
.informationOAMPDUs {
  color: #000;
  font-size: 13.4531px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 142.58px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data2 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.4px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent2 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  height: 19px;
  align-items: flex-start;
}
.unnamed {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data3 {
  position: absolute;
  left: 593.33px;
  top: calc(50% - 0px);
  width: 296.67px;
  height: 33.4px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent3 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  height: 19px;
  align-items: flex-start;
}
.unnamed2 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.09px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row2 {
  position: absolute;
  left: 0;
  top: calc(50% - 101.6px);
  width: 890px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data4 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent4 {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.uniqueEventNotificationOAMPDUs {
  color: #000;
  font-size: 13.3438px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 229.74px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data5 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent5 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed3 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data6 {
  position: absolute;
  left: 593.33px;
  top: calc(50% - 0px);
  width: 296.67px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent6 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed4 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.09px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row3 {
  position: absolute;
  left: 0;
  top: calc(50% - 67.8px);
  width: 890px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data7 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent7 {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.duplicateEventNotificationOAMP {
  color: #000;
  font-size: 13.2344px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 243.74px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data8 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent8 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed5 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data9 {
  position: absolute;
  left: 593.33px;
  top: calc(50% - 0px);
  width: 296.67px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent9 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed6 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.09px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row4 {
  position: absolute;
  left: 0;
  top: calc(50% - 34px);
  width: 890px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data10 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent10 {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.variableRequestOAMPDUs {
  color: #000;
  font-size: 13.5625px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 178.9px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data11 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent11 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed7 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data12 {
  position: absolute;
  left: 593.33px;
  top: calc(50% - 0px);
  width: 296.67px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent12 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed8 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.09px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row5 {
  position: absolute;
  left: 0;
  top: calc(50% - 0.2px);
  width: 890px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data13 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent13 {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.variableResponseOAMPDUs {
  color: #000;
  font-size: 13.5625px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 189.8px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data14 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent14 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed9 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data15 {
  position: absolute;
  left: 593.33px;
  top: calc(50% - 0px);
  width: 296.67px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent15 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed10 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.09px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row6 {
  position: absolute;
  left: 0;
  top: calc(50% - -33.6px);
  width: 890px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data16 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent16 {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.loopbackControlOAMPDUs {
  color: #000;
  font-size: 13.3438px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 182.29px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data17 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent17 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed11 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data18 {
  position: absolute;
  left: 593.33px;
  top: calc(50% - 0px);
  width: 296.67px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent18 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed12 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.09px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row7 {
  position: absolute;
  left: 0;
  top: calc(50% - -67.4px);
  width: 890px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data19 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent19 {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.organizationSpecificOAMPDUs {
  color: #000;
  font-size: 13.3438px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 204.84px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data20 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent20 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed13 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data21 {
  position: absolute;
  left: 593.33px;
  top: calc(50% - 0px);
  width: 296.67px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent21 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed14 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.09px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row8 {
  position: absolute;
  left: 0;
  top: calc(50% - -101.2px);
  width: 890px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data22 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent22 {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unsupportedOAMPDUs {
  color: #000;
  font-size: 13.3438px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 152.71px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data23 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent23 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed15 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.data24 {
  position: absolute;
  left: 593.33px;
  top: calc(50% - 0px);
  width: 296.67px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent24 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed16 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.09px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.row9 {
  position: absolute;
  left: 0;
  top: calc(50% - -135px);
  width: 890px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.data25 {
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent25 {
  position: absolute;
  left: 30px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.framesLostDueToOAM {
  color: #000;
  font-size: 13.4531px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0.8px;
  width: 158.93px;
  height: 16px;
  justify-content: center;
  flex-direction: column;
}
.data26 {
  position: absolute;
  left: 296.66px;
  top: calc(50% - 0px);
  width: 296.66px;
  height: 33.8px;
  align-items: flex-start;
  transform: translateY(-50%);
}
.divContent26 {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7.4px;
  height: 19px;
  align-items: flex-start;
}
.unnamed17 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.105px);
  top: 0.8px;
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.unnamed18 {
  color: #000;
  font-size: 14px;
  line-height: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -297.995px);
  top: calc(50% - -0.3px);
  width: 7.99px;
  height: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.image5 {
  position: absolute;
  left: 0;
  top: -2.7998px;
  width: 810px;
  height: 322px;
  background-image:/* webpackIgnore: true */ url('/assets/image5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
