.pingButton.pingButton {
  left: 26px;
  top: 48px;
  width: 93px;
}
.ping {
  color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1189px;
  height: 956px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.globalConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 20px;
  width: 131px;
  height: 36px;
  flex-direction: column;
}
.line1 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 53.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line2 {
  transform-origin: bottom left;
  position: absolute;
  left: 25px;
  top: 54.5px;
  width: 1149.0005px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 0.75px #0d597f;
  transform: matrix(1, -0.0009, 0.0009, 1, 0, 0);
}
.line3 {
  position: absolute;
  left: 24.9997px;
  top: 199.4999px;
  width: 1149.0001px;
  height: 1.5px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame16 {
  position: absolute;
  left: 29px;
  top: 73px;
  width: 1145px;
  height: 871px;
  align-items: flex-start;
  overflow: hidden;
}
.dHCPv4Filter {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26px;
  top: 16px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame17 {
  position: absolute;
  left: -12px;
  top: 232px;
  width: 1145px;
  height: 95px;
  border-radius: 6px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 192px;
  width: 1145px;
  height: 40px;
  border-radius: 6px;
  background-color: #5ac3f826;
}
.rectangle5 {
  position: absolute;
  left: 0;
  top: 327px;
  width: 1145px;
  height: 40px;
  border-radius: 6px;
  background-color: #5ac3f826;
}
.delete {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1079px;
  top: 162px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame21 {
  position: absolute;
  left: 17px;
  top: 199px;
  width: 1105px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.port {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.status {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 102px;
  height: min-content;
  flex-direction: column;
}
.mACVerify {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 90px;
  height: 26px;
  flex-direction: column;
}
.rateLimit {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.declineProtect {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 130px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.lAG {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 86px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.enable {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 203px;
  top: 16px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.portConfig {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 98px;
  width: 171px;
  height: 36px;
  flex-direction: column;
}
.add {
  color: #000;
  font-size: 14px;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 983px;
  top: 162px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
